{% extends 'otu/base.html' %}
{% block title %}Following{% endblock %}
{% block body_block %}

    {% if count == 1 %}
        You are following one dream shelf.
    {% elif count == 0 %}
        You aren't following a single dream shelf. <a href="#">Find one!</a>
    {% else %}
        You are following {{ count }} dream shelf.
    {% endif %}

    {% if following %}
        <div class="list-group">

        {% for profile in following %}
            <div class="list-group-item">
                <div class="row">
                <div class="col-sm-2">
                    <img src="/media/avatars/{{ profile.user.pk }}_small.jpg"  />
                </div>
                <div class="col-sm-10">
                    Last dream:
                </div>
                </div>
            </div>

        {% endfor %}

        </div>

    {% endif %}
{% endblock %}

{% block sidebar %}
   {% include 'otu/sidebar.html' %}
{% endblock %}