{% extends 'otu/base.html' %}
{% block title %} {{ user_data.profile.username }}{% endblock %}

{% block body_block %}
    <h3>Dreams</h3>
    {% if user_data.dream_set %}
        <div class="list-group">
            {% for dream in user_data.dream_set.all %}
                <div class="list-group-item">
                    <div class="row dream" id="dream_{{ dream.pk }}">
                        <div class="col-sm-1">
                            <img src="/media/avatars/{{ dream.user.pk }}_small.jpg"/>
                        </div>
                        <div class="col-sm-11">
                            <div class="row" style="min-height: 25px">
                                    <div class="col-sm-10">

                                        <a href="/profile/{{ dream.user.pk }}"><strong>{{ dream.user.profile.username }}</strong></a>
                                        dreamed {{ dream.dream_date }}
                                    </div>
                                    {% if me %}
                                    <div class="col-sm-2 pull-right edit_dream" style="display:none">
                                        <div class="btn-group btn-group-xs">
                                            <button type="button" class="btn btn-link edit_dream"
                                                    onclick="window.location = '/manage_dream?action=edit&pk={{ dream.pk }}'">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="btn btn-link delete_dream"
                                                    data-dream_pk="{{ dream.pk }}">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>
                                    </div>
                                    {% endif %}
                            </div>
                            <h4 class="dream_title">{{ dream.title }}</h4>
                            {{ dream.content }}
                        </div>
                    </div>
                </div>


            {% endfor %}
        </div>
    {% endif %}


{% endblock %}

{% block sidebar %}
    {% include 'otu/sidebar.html' %}
{% endblock %}