<button class="btn btn-primary btn-block" style="margin-bottom: 10px;" onclick="window.location='/manage_dream/?action=add'"><strong>I've seen a dream</strong></button>
    <div class="well">
        <img src="/media/avatars/{{ user_data.pk }}_med.jpg" class="img-responsive center-block" />
        <p class="text-center">
            <strong>{{ user_data.profile.username }}</strong>
            <br>{{ user_data.profile.fullname }}
        </p>


        <div class="btn-group-vertical btn-block" id="user_menu">
            {% if me %}
                <button type="button" class="btn btn-link" onclick="window.location='/edit_profile'">Edit profile</button>
                <button type="button" class="btn btn-default">{{ user.dream_set.count }} dreams</button>
                <button type="button" class="btn btn-default" id="following_btn" onclick="window.location='/following'">{{ user.profile.following.count }} following</button>
                <button type="button" class="btn btn-default" id="followers_btn" onclick="window.location='/followers'">{{ user.profile.followers.count }} followers</button>
            {% elif is_following %}
                <button type="button" class="btn btn-default" id="unfollow_btn" data-user-pk="{{ user_data.pk }}">Unfollow</button>
            {% else %}
                <button type="button" class="btn btn-primary" id="follow_btn" data-user-pk="{{ user_data.pk }}">Follow</button>
            {% endif %}
        </div>
    </div>